body {
    background-color: #7FFFD4;
    height: 100vh;
    font-size: 20px;
}

.board_column {
    height: 300px;
    width: 88px;
    border: 2px;
    border-style: solid;
    padding: 2px;
    overflow: hidden;
}

.board_columns_container {
    height: 300px;
    width: 264px;
}

.entire_board {
    height: 350px;
}

.dice {
    width: 80px;
    height: 80px;
}

.turn_h {
     font-size: 20px;
}

.board_title {
     font-size: 20px;
     color: white;
}

.column_score {
    font-size: 20px;
    color: white;
}

.reset_button {
    border-radius: 2px;
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.become_player_button {
    border-radius: 2px;
    background-color: #F5F5DC;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.winning_message {
    font-size: 25px;
    color: white;
    font-weight: bold;
}